@page
@model RazorAppForArduino.Pages.BoostModel
@{
    ViewData["Title"] = "Boost";
}

<form method="post">
    <div class="form-check">
        <input asp-for="Boost" class="form-control" placeholder="Enter Boost vlaue ">
        <button type="submit" class="btn btn-primary" asp-page-handler="SendBoost">Send</button>
    </div>
   
</form>

