@page
@model RazorAppForArduino.Pages.GetSerialReadingsModel
@{
    ViewData["Title"] = "GetSerialReadings";
}

<h1>Continuous psi Readings</h1>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
    <div >
        <label id="messagesList"></label>
    </div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


