@page
@model RazorAppForArduino.Pages.GetSerialReadingsModel
@{
    ViewData["Title"] = "GetSerialReadings";
}

<h1>Continuous psi Readings</h1>

<div class="col-sm-10">
    <input asp-for="SerialData" class="form-control" placeholder="Serial data from arduino" id="SerialPort">
</div>



<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


