@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Electronic Boost Control System</h1>
</div>

@{
    var photoPath = "~/images/BoostControlDiagram.png";
    <img class="card-img-top " src="@photoPath" asp-append-version="true">
}
