@page
@model RazorAppForArduino.Pages.SendBoostModel
@{
    ViewData["Title"] = "Boost";
}
    <form method="post">
        <button id="scramble" type="submit" class="scramble" asp-page-handler="Scramble">Scramble</button>
    </form>
<form method="post">
    <div class="form-check">
        <input asp-for="Boost" class="form-control" placeholder="Enter Boost vlaue ">
        <button type="submit" class="btn btn-primary" asp-page-handler="SendBoost">Send</button>
    </div>
   
</form>

